body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
  }
  header {
    background-color: rgb(0, 0, 0);
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 5px solid rgb(42, 197, 62);
  }
/*--------------------CRAECION CABECERA-------------------------*/
  .header a{
     float: right;
     color: #ffffff;
     text-align: center;
     padding: 10px 15px;
     text-decoration: none;
     font-size: 10px; 
  }
  .header ul {
    margin: auto;
    padding: 0;
}
 .header li{
    display: inline;
    float: right;
}

.hover a:hover{
    background-color: rgb(43, 42, 42);
    color: white;
}
.moodlelogo {
    padding-top: 20px;
    margin: 20px;
    float: left;
}
.center{ 
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    color: darkgrey;
}
h2{
    color: rgb(138, 8, 8);
    text-align: left;
    margin-bottom: .5rem;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.3;

}
.parrafo{
    background-color: #cfcfcf;
    border-radius: 5px;
    border-color: rgb(218, 218, 218);
    padding: 10px 20px 10px 20px;
    margin-bottom: 100px;
    border: solid rgb(199, 197, 197) 1px;
    height: 250px;
}
.apartados {
    width: 800px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.menu {
    width: 100%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.texto {
    text-align: left;}

    .boton {
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:white;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
        background-color:#005AA8;
        border-width: 2px;
        border-style: solid;
        border-radius:10px;
    }















footer {
    padding: 5px;
    margin-top: 80px;
    background-color: #d6d6d6;
    text-align: center; 
    border-bottom: 5px solid rgb(42, 197, 62);
}

